* {
    margin: 0;
    padding: 0;
  }
  
  .main {
    min-height: 100%;
    width: 100%;
  }
  
  header {
    height: 50px;
    width: 100%;
    background-color:lavender;
  }
  
  li {
    padding: 0 10px;
    width: 50px;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  h2 {
    font-style: italic;
    font-family: fantasy;
    font-size: 300%;
    padding-bottom: 10px;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
  }